.dashboard {
    min-height: 600px;
    background-color: white;
    border-radius: 10px;
    width: 98%;
    margin: 10px auto;
    padding: 0 10%;
}

.card {
    border: none
}

.code {
    background-color: grey;
    padding: 7px;
    max-width:100%;
    color:white
}