<div class="dashboard">
  <br>
    <div class="card text-center"  id="main">
      <div class="card-title">
        <h3>Welcome to your dashboard!</h3>
      </div>
      <div class="card-text">
        Select an option from the admin controls
      </div>
    </div>
    <br>
    <br>
    <div class="card"  id="secondary">
      <div class="card-title text-center">
        <b>Some Tips for Getting Started!</b>
      </div>
      <div class="card-text">
        <ul>
          <li></li>
          </ul>
        <p class="text-center">-Summer</p>
      </div>
    </div>
</div>