<div class="container">
    <div class="form-container">
        <form [formGroup]="contactForm" (ngSubmit)="onFormSubmit()">
            <h2 class="text-center">Contact Me</h2>
            <div class="ajax-hidden">
                <div class="form-group">
                    <input class="form-control" placeholder="Name"  required="required" formControlName="conName"/>
                </div>
            </div>
            <div class="form-group">
                <input class="form-control" type="email" placeholder="E-mail" required="required" formControlName="conEmail"/>
            </div>
            <div class="form-group">
                <input class="form-control" type="phone"  placeholder="Phone" required="required" formControlName="conPhone"/>
            </div>
            <div class="form-group">
                <textarea class="form-control"  rows="1" placeholder="Address Line 1 (include Unit/Apt)" formControlName="conAddress1"></textarea>
            </div>
            <div class="form-group">
                <textarea class="form-control"  rows="1" placeholder="Address Line 2" formControlName="conAddress2"></textarea>
            </div>
            <div class="form-group">
                <textarea matInput class="form-control"  rows="6" placeholder="Message" formControlName="conMessage" rows="5"></textarea>
            </div>
            <p class="text-center">**Must Complete ALL Fields</p>
            <button class="btn btn-block" type="submit" [disabled]="!contactForm.valid" mat-flat-button (click)="success('Success!!')">
                Submit
            </button>
            <alert></alert>
            <br>
        </form>
    </div>
    
</div>