@import url('https://fonts.googleapis.com/css?family=Lemonada&display=swap');

.container {
    background-color: rgba(255,255,255,0.7);
    margin-top:3%;
    margin-bottom:3%
}

h2{
    padding: 3%;
    font-family: 'Lemonada', cursive;
}

.form-item {
    background: #FFF;
    border: 2px solid #D8E1E4;
    height: 1%;
    font-size: 14px;
    padding: 2%;
    display:block;
    color:black;
    line-height: 1.5;
    width: 100%;
}

select{
    background: #FFF;
    border: 2px solid #D8E1E4;
    height: 2% !important;
    font-size: 14px;
    padding: 2% !important;
    display:block;
    color:black;
    line-height: 1.5;
    width: 100%;
}

.cke_inner {
    display: none !important;
}

.mat-flat-button[disabled][disabled] {
        background-color: black;
        display: block;
        color:grey
    
}

.mat-flat-button {
    margin: 15px 15px 0 15px;
    background-color: grey;
    color: black;
}

