@import url('https://fonts.googleapis.com/css?family=Lemonada&display=swap');

.container {
    background-color: #155d74; 
    margin: 0;
    padding-top: 3%; 
    padding-bottom: 5%; 
    padding-left: 10%; 
    padding-right: 10%;
    max-width:100%;

    animation: fadeIn;
}

.form-container {
    margin: 1% auto;
    background-color: white;
    padding: 2% 5%;
    box-shadow: 0 5px 10px rgba(0,0,0,0.6);
}

h2{
    padding: 3%;
    font-family: 'Lemonada', cursive;
}

.form-control {
    background: rgba(240,240,240,1);
}

.form-item {
    border: 2px solid #D8E1E4;
    height: 1%;
    font-size: 14px;
    padding: 2%;
    display:block;
    color:black;
    line-height: 1.5;
    width: 100%;
}

select{
    background: #FFF;
    border: 2px solid #D8E1E4;
    height: 2% !important;
    font-size: 14px;
    padding: 2% !important;
    display:block;
    color:black;
    line-height: 1.5;
    width: 100%;
}

.cke_inner {
    display: none !important;
}

.mat-flat-button[disabled][disabled] {
        background-color: black;
        display: block;
        color:grey
    
}

.mat-flat-button {
    margin: 15px 15px 0 15px;
    background-color: grey;
    color: white;
}

