body,
html {
  width: 100%;
  height: 100%;
}

body {
  @include body-font;
}

// Custom Button Size
.btn-xl {
  padding: 1.25rem 2.5rem;
}

.btn:link, .btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  padding:15px 40px;
  display:inline-block;
  border-radius: 100px;
  transition:all .2s;
}

.btn-light:hover, .btn-primary:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(225,225,225,0.2);
}

.btn-dark:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.btn-light:active, .btn-primary:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.btn-white:link {
  color: #777;
  background-color: white;
}



// Content Section
.content-section {
  // padding-top: 5rem;
  // padding-bottom: 7.5rem;
  background-color: white;
}

.content-section-two {
  background-color: white;
}

.content-section-three {
  background-color: rgba(29, 128, 159, 1);
}

@media screen and (min-width: 992px) {
  .content-section {
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
    min-height: 100% !important;
  }
  .content-section-two {
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
    min-height: 100% !important;
  }
  .content-section-three {
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
    min-height: 100% !important;
  }
}

@media screen and (max-width: 991px) {
  .btn-xl:link{
    min-width: 20%;    
    font-weight:200;
    padding: 15px 0px !important;
    margin-bottom:5px
  }
  .content-section {
    min-height: 100% !important;
  }
  .content-section-two {
    min-height: 100% !important;
  }
  .content-section-three {
    min-height: 100% !important;
  }
}

.contact-section {
  align-content: center;
}

.content-section-heading {
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1rem;
    text-transform: uppercase;
  }
}

// Typography
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

.text-faded {
  color: fade-out($white, 0.3);
}

/* Map */

.map {
  height: 30rem;
}

@media(max-width: 992px) {
  .map {
    height: 75%;
  }
}

.map iframe {
  pointer-events: none;
}

// Scroll to top button
.scroll-to-top {
  position: fixed;
  right: 15px;
  bottom: 15px;

  display: none;

  width: 50px;
  height: 50px;

  text-align: center;

  color: white;
  background: fade-out($gray-800, .5);

  line-height: 45px;
  &:focus,
  &:hover {
    color: white;
  }
  &:hover {
    background: $gray-800;
  }
  i {
    font-weight: 800;
  }
}
