<!-- <a class="menu-toggle rounded" *ngIf="loginStatus === false">
  <i class="fas fa-bars"></i>
</a>
<nav id="sidebar-wrapper" *ngIf="loginStatus === false">
  <ul class="sidebar-nav">
    <li class="sidebar-brand">
      <a class="js-scroll-trigger" href="#page-top">Galindo</a>
    </li>
    <li class="sidebar-nav-item">
      <a class="js-scroll-trigger" href="#page-top">Home</a>
    </li>
    <li class="sidebar-nav-item">
      <a class="js-scroll-trigger" href="#about">About</a>
    </li>
    <li class="sidebar-nav-item">
      <a class="js-scroll-trigger" href="#services">Gallery</a>
    </li>
    <li class="sidebar-nav-item">
      <a class="js-scroll-trigger" href="#portfolio">Portfolio</a>
    </li>
    <li class="sidebar-nav-item">
      <a class="js-scroll-trigger" href="#contact">Contact</a>
    </li>
    <li class="sidebar-nav-item">
      <a class="js-scroll-trigger" [routerLink]="">Résumé</a>
    </li>
  </ul>
</nav> -->
<div class="topnav" id="myTopnav" *ngIf="loginStatus === true">
  <a class="nav-link" [routerLink]="['/admin']">Admin</a>
  <a class="nav-link" [routerLink]="['/category']">Categories</a>
  <a class="nav-link" [routerLink]="['/post']">Jobs</a>
  <a class="nav-link" [routerLink]="['/contact']">Contacts</a>
  <a href="javascript:void(0);" class="icon" (click)="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
  <span class="navbar-text" (click)="logout()">Logout</span>
</div>
<router-outlet></router-outlet>
<br>
<footer class="footer text-center">
  <div class="container">
    <ul class="list-inline mb-5">
      <!-- <li class="list-inline-item">
          <img class="social-link rounded-circle text-white" src="./img/facebook.png"  href="https://www.facebook.com/galindo91">
        </li> -->
      <li class="list-inline-item">
        <a href="https://www.instagram.com/gabbygalindohair/" target="_blank">
          <img class="social-link rounded-circle text-white" src="../../assets/img/instagram.png"></a>
      </li>
      <li class="list-inline-item">
        <a href="https://www.imdb.com/name/nm8321358/" target="_blank"><img
            class="social-link rounded-circle text-white" src="../../assets/img/imdb.png" style="position: inline;"></a>
      </li>
    </ul>
    <p class="text-muted small mb-0">Copyright &copy; GabbyGalindo 2020</p>
  </div>
</footer>

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>