.dashboard {
    min-height: 600px;
    background-color: white;
    border-radius: 10px;
    width: 98%;
    margin: 10px auto;
    padding: 0 10%;
}

label {
    color:black;
    max-width:100%
}

select{
    display: block;
    padding: 10px;
    width: 95%;
    margin: 20px;
}

.mat-flat-button {
    margin: 15px 15px 0 15px;
    background-color: grey;
    color: white;
}

.mat-flat-button:disabled {
    margin: 15px 15px 0 15px;
    background-color: rgb(124, 0, 0);
    color: grey !important;
}

.mat-input-element, input, textarea {
    padding: 10px;
    border: 1px solid grey;
    margin: 20px;
    width:95%
    }
    
    .label {
        margin: 10px
    }

    .row {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    
    .contact{
        background-color: rgba(255,255,255, 1);
        color:black !important;
        padding: 20px;
        border: 1px solid black;
        cursor: pointer;
        border-radius: 10px;
    }
    
    .contact:hover{
        background-color: rgb(165, 165, 165);
    }
    
    
    .mat-flat-button {
        margin: 15px 15px 0 15px;
        background-color: grey;
        color: white;
    }
    
    #dashboard .contact {
        animation: fadein 1.5s;
        -moz-animation: fadein 1.5s; /* Firefox */
        -webkit-animation: fadein 1.5s; /* Safari and Chrome */
        -o-animation: fadein 1.5s; /* Opera */
    }
    @keyframes fadein {
        from {
            opacity:0;
        }
        to {
            opacity:1;
        }
    }
    @-moz-keyframes fadein { /* Firefox */
        from {
            opacity:0;
        }
        to {
            opacity:1;
        }
    }
    @-webkit-keyframes fadein { /* Safari and Chrome */
        from {
            opacity:0;
        }
        to {
            opacity:1;
        }
    }
    @-o-keyframes fadein { /* Opera */
        from {
            opacity:0;
        }
        to {
            opacity: 1;
        }
    }
    
    