<div class="dashboard">
  <br>
    <div class="card text-center"  id="main">
      <div class="card-title">
        <h3>Welcome to your dashboard!</h3>
      </div>
      <div class="card-text">
        Select an option from the admin controls
      </div>
    </div>
    <br>
    <br>
    <div class="card"  id="secondary">
      <div class="card-title text-center">
        <b>Some Tips for Getting Started!</b>
      </div>
      <div class="card-text">
        <ul>
          <li>If you need to add a video from youtube, simply go to "Share" and then copy the "Embed" Code and paste into post entry.</li>
          <li>If you are entering a photo:</li>
          <ul>
            <li>If you are copying the photo from instagram, please paste instagram embed code into entry.</li>
            <br>
            <li>If you have your own photo:</li> 
              <ul>
                <li>Copy the following</li>
                <li>Paste into "embed" section</li>
                <li>Upload image to the internet (google drive, photos, etc)</li> 
                <li>Right click on photo and select "copy image address"</li> 
                <li>Paste into "src" quotation marks</li>
                <li>Type name for image in "alt" quotation marks</li>
                <li>Save</li>
              </ul> 
              <br>
            <p class="code">&lt;img alt="" src="PASTE HERE"&gt;</p>
          </ul>
          <p>Example of finished code:</p>
          <p class="code">&lt;img alt="Scissors" src="https://www.pinclipart.com/picdir/middle/50-502117_haircut-clipart-shears-hair-scissors-clip-art-png.png" &gt;</p>
          <p>Which Generates:</p>
          <img style="max-width:100px" src="https://www.pinclipart.com/picdir/middle/50-502117_haircut-clipart-shears-hair-scissors-clip-art-png.png" alt="Scissors">
          </ul>
        <p class="text-center">-Summer</p>
      </div>
    </div>
</div>