<div class="container" id="resume-bg">
    <div id="print-section">
        <h3 id="page-top" style="color: black !important; font-family: 'Lobster', cursive;">Gabriella *Gabby* Galindo</h3>
        <br />
        <h4>Hairstylist and Groomer</h4>
        <br />
        <img src="assets/img/pin.png" style="max-width: 400px;">
        <div>
            <h3>Feature Films</h3>
            <br />
            <p>• Key Hairstylist - Aloha Surf Hotel, <b>IMDb Credited,</b> featured on main cast and crowd scenes.
                <br />• Hair Department Head - The Silent Natural, <b>IMDb Credited,</b> featured hair prosthetics and
                full
                design on cast.
                <br />• Key Hairstylist - XOXO Netflix Original Movie, <b>IMDb Credited,</b> featured on main cast and
                crowd
                scenes.
                <br />• Key Hairstylist - Happy Birthday!, <b>IMDb Credited,</b> featured prosthetic hair on Steven
                Tyler.
                <br />• Key Hairstylist - Rousseau, or on Education <b>IMDb Credited,</b> featured wig work.
            </p>
        </div>
        <img src="assets/img/pin.png" style="max-width: 400px;">
        <div>
            <h3>Television</h3>
            <br />
            <p>• Key Hairstylist/Groomer - Buddy "Cake Boss" Valastro & Duff "Ace of Cakes" Goldman on their show
                <i>Buddy
                    Vs Duff.</i>
                <br />• Hairstylist to <i>German's Next Top Model</i> with Hedie Klumm cycles 12 and 13.
                <br />• Hairstylist to Megyn Kelly's first interview with NBC for the 10th anniversary of <i>Keeping Up
                    With
                    the Kardashians.</i>
                <br />• Key Hairstylist - <i>My Fair Wedding with David Tutera</i>
                <br />• Key Hairstylist - <i>Pretty Little Liars</i> promo with Shay Mitchell
                <br />• Key Hairstylist - <i>The Fosters</i> promo with entire cast.
                <br />• Key Hairstylist - LG commercial featuring a large transition look.
            </p>
        </div>
        <img src="assets/img/pin.png">
        <div>
            <h3>Music Videos</h3>
            <br />
            <p>• Key Hairstylist - <b>Ball W/O You</b> by 21 Savage.
                <br />• Key Hairstylist - <b>Curious</b> by Hayley Kiyoko.
                <br />• Key Hairstylist - <b>Happy</b> by JSoul Brothers, featuring 200 background actors with wig work.
                <br />• Key Hairstylist - <b>Sweat</b> by All American Rejects, personal styling and wig work of Tyson
                Ritter.
                <br />• Key Hairstylist - <b>Close Your Eyes</b> by All American Rejects.
            </p>
        </div>
        <img src="assets/img/pin.png">
        <div>
            <h3>Editorial</h3>
            <br />
            <p>• Key Hairstylist to Signorelli Shoot featuring Ashley Tisdale.
                <br />• Head of Hair Department for Tilly's for Spring and Summer of 2018.
                <br />• Head of Hair Department to Maria Korovilla Luxury Gowns
                <br />• Head of Hair Department to Blue Diamond campaign
            </p>
        </div>
        <img src="assets/img/pin.png">
        <div>
            <h3>Awards Shows</h3>
            <p>• Golden Globes 2018
                <br />• Golden Globes 2016
                <br />• Critic's Choice 2016
                <br />• SAG 2016
                <br />• NAACP 2016
                <br />• Directors Guild Awards 2016
            </p>
        </div>
        <img src="assets/img/pin.png">
        <div>
            <h3>Celebrity Client List</h3>
            <p>• Buddy "Cake Boss" Valastro
                <br />• All American Rejects
                <br />• Hayley Kiyoko
                <br />• J Soul Brothers
                <br />• Marielle Heller
                <br />• Steven Tyler
                <br />• Ashley Tisdale
                <br />• Shay Mitchell
                <br />• Chris D'Elia
                <br />• Jorma Taccone
                <br />• Megyn Kelly
                <br />• Tyler Mane
            </p>
        </div>
    </div>
    <div class="buttons">
        <img src="assets/img/pin.png">
    <br />
    <button type="submit" class="btn btn-dark btn-lg btn-block" printSectionId="print-section"
        ngxPrint style="margin-bottom: 3%">Printable Version</button>
    <div class="text-center" style="margin-bottom: 3%">
        <a class="btn btn-dark btn-xl js-scroll-trigger" [routerLink]="['/home']" [fragment]="'portfolio'">Back to
            Portfolio</a>
    </div>
    <br />
    </div>
</div>