@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css?family=Krona+One&display=swap');

.container{
    margin: 3% auto 1% auto;
    background-color: #1D809F;
    color:white;
    border: 1px solid rgb(13, 64, 80);
    box-shadow: 0 5px 5px black;
    max-width: 1500px;
}

img {
    align-self:center;
    max-width:200px;
    margin: 15px auto;
}

h2 {
    font-family: "lobster";
}

.mat-form-field {
    display: block;
    padding :15px;
}

.mat-form-field-infix {
    border:none !important
}

.mat-input-element {
    background: #FFF;
    border: 2px solid grey;
    height: 54px;
    font-size: 14px;
    padding: 15px;
    color: black
}

.button-row p {
    margin:20px;
}

.btn {
    margin:20px;
    width: 100px;
    background: red;
    border: 2px darkred;
    color:white;
}

.register {
    float:right
}

.link{
    text-decoration: none !important;
    color:red !important; 
}
.link:hover{
    text-decoration: underline !important;
    color: gold !important;
    cursor: pointer !important;
}