@import "../../assets/scss/stylish-portfolio.scss";
@import url('https://fonts.googleapis.com/css?family=Krona+One&display=swap');


.portfolio-container {
    max-width: 800px;
}

h2 {
    font-family: "Krona One", sans-serif;
    font-size: 24px
}

.carousel-caption{
    color: white;
    text-shadow: 2px 2px 8px #1D809F;
}
